@font-face {
    font-family: 'iconfont';
    src: url("iconfont.eot");
    src: url("iconfont.eot?#iefx") format("embedded-optentype");
url('iconfont.woff') format('woff');
url('iconfont.ttf') format('truetype'),
url('iconfont.svg#iconfont') format(svg);
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei, iconfont", sans-serif !important;
    background-color: #ffffff;
    min-width: 1226px;
}

ul {
    list-style: none;
}

.container:before, .row:after, .row:before, .clearfix:after, .clearfix:before, .container:after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

#topbar {
    background: #333;
    font-size: 12px;
    height: 40px;
}

#topbar a {
    color: #b0b0b0;
    text-decoration: none;
}

#topbar a:hover {
    color: #fff;
}

.container {
    width: 1226px;
    margin: 0 auto;
}

.sep {
    color: #424242;
    margin: 0.5em;
}

#topbarnav {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

#topbarinfo {
    float: right;
}

#gouwuche, #cart {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 120px;
    margin-left: 15px;
    background-color: #424242;
}

#cart {
    margin-left: 0px;
}

#gouwuche .iconfont {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    line-height: 20px;
}

#cartmenu {
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;
    z-index: 31;
    width: 316px;
    height: 0;
    color: #424242;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
}

#cartmenu span {
    display: block;
    margin: 5px 20px 20px;
    padding: 20px;
    text-align: center;
}

.site-headr {
    position: relative;
    z-index: 20;
    height: 100px;
}

.site-headr .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-headr .header-logo .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: #ff6700;
}

.doodle {
    display: block;
}

.doodle .line-block {
    background-image: url(../img/doodle0606.gif);
    position: absolute;
    left: 69px;
    bottom: 0;
    z-index: 21;
    width: 165px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../img/logo.png) no-repeat 50% 50%;
}

.header-nav {
    float: left;
    width: 850px;
}

.nav-list {
    list-style: none;
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.nav-item {
    float: left;
}

.nav-item .link {
    display: block;
    padding: 26px 13px 38px;
}

#J_navCategory {
    position: relative;
    float: left;
    width: 127px;
    margin-right: 15px;
}

.link-category {
    visibility: hidden;
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}

.header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

#J_searchForm {
    position: relative;
    width: 296px;
    height: 50px;
}

#search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    color: #616161;
    outline: 0;
    transition: 0.2s;
}

#search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

#search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 12px;
    background-color: #eee;
    color: #757575;
    transition: all .2s;
}

.site-headr a:hover {
    background-color: #ff6700;
    color: #fff;
}

.site-category {
    display: block;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

#J_categoryList {
    height: 420px;
    border: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
}

#J_categoryList .title {
    color: #fff;
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}

#J_categoryList .title i {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 13px;
    line-height: 16px;
}

.goodsarea {
    position: absolute;
    display: inline-block;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.goodslist {
    float: left;
    width: 265px;
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
}

.goodslist li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}

#J_categoryList .goodslist .link {
    width: 200px;
    padding-right: 0;
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}

.link img {
    margin-right: 12px;
    vertical-align: middle;
    border: 0;
}

#J_categoryList .goodslist .text {
    line-height: 40px;
}

#J_categoryList .goodslist .text:hover {
    color: #ff6700;
}

.xuangou {
    position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    color: #ff6700;
    border: 1px solid #ff6700;
    text-align: center;
}

.goodslist .xuangou:hover {
    color: #fff;
    background-color: #ff6700;
}

.home-hero-container {
    position: relative;
    z-index: 10;
}

.homehero {
    position: relative;
}

.heroslider {
    position: relative;
    height: 460px;
    overflow: hidden;
}

.heroslider #lunbo {
    width: 1226px;
    height: 460px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.heroslider #lunbo ol {
    position: absolute;
    right: 30px;
    bottom: 15px;
    margin: 0;
    padding: 0;
    z-index: 9999;
    cursor: pointer;
}

.heroslider #lunbo .click {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
}

.heroslider ol li {
    float: left;
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, 0.3);
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 10px;
    transition: all .2s;
}

.heroslider #lunbo ul {
    position: absolute;
    width: 1226px;
    height: 460px;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

.heroslider #lunbo ul li {
    list-style: none;
    position: absolute;
}

.heroslider #lunbo ul li img {
    width: 1226px;
    height: 460px;
}

.heroslider #pre {
    background: url("../img/fanye.png") no-repeat -84px 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    left: 234px;
    z-index: 9999;
}

.heroslider #pre:hover {
    background: url("../img/fanye.png") no-repeat 0px 50%;
}

.heroslider #next {
    background: url("../img/fanye.png") no-repeat -125px 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 9999;
}

.heroslider #next:hover {
    background: url("../img/fanye.png") no-repeat -41px 50%;
}

.navmenu {
    position: relative;
    left: 0;
    z-index: 99;
    font-size: 12px;
    background-color: #fff;
    display: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
}

.navproduct {
    display: inline-block;
    position: relative;
    width: 180px;
    padding: 35px 10px 0;
    text-align: center;
}

.navproduct:before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}

.navmenu .first:before {
    background-color: #fff;
}

.navmenu .navtitle {
    color: #000;
    margin: 0;
}

.navproduct .navtitle:hover {
    color: #000;
}

.navproduct .navimg img {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
}

.navproduct .navprice {
    margin: 0;
    color: #ff6700;
}

.navproduct .navimg, .navproduct .navtitle, .navproduct .navprice {
    display: block;
}

.navproduct .navtitle, .navproduct .navprice {
    line-height: 20px;
}

.herorow {
    margin-top: 14px;
    margin-left: -14px;
    margin-bottom: 26px;
}

.herorow .row6 {
    width: 234px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.herorow .row6 ul {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.herorow .row6 li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.herorow .row6 li:before {
    position: absolute;
    content: "";
    background: #665e57;
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.herorow .row6 li:after {
    position: absolute;
    content: "";
    background: #665e57;
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.herorow .row6 li a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    transition: color .2s;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.herorow .row6 li a:hover {
    color: #fff;
}

.herorow .row6 li a i {
    display: block;
    height: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
}

.row3 {
    width: 978px;
    float: left;;
    margin-left: 14px;
    min-height: 1px;
}

.herorow .row3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.herorow .row3 ul li {
    margin-left: 15px;
    float: left;
    width: 316px;
    height: 170px;
    transition: box-shadow .2s linear;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}

.herorow .row3 ul li.first {
    margin-left: 0;
}

.herorow .row3 ul li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.herorow .row3 ul li a {
    display: block;
    height: 170px;
}

.herorow .row3 ul li a img {
    width: 316px;
    height: 170px;
}

.horocontainer {
    position: relative;
}

.herorow .boxhd {
    position: relative;
    height: 58px;
}

.stargoods .boxbd {
    position: relative;
    width: 1226px;
    overflow: hidden;
    padding-bottom: 40px;
}

.boxhd {
    position: relative;
}

.boxhd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333333;
}

.boxhd .more {
    top: 24px;
    position: absolute;
    right: 0;
}

.boxhd .more .control {
    margin-left: -1px;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    color: #b0b0b0;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.chanpin {
    height: 340px;
}

.chanpin ul {
    width: 2480px;
    height: 340px;
    margin: 0;
    padding: 0;
    transition: all .4s;
}

#boxbd li {
    border-top-width: 1px;
    border-top-style: solid;
}

.chanpin ul li {
    height: 300px;
    padding-top: 39px;
    text-align: center;
    background: #fafafa;
    float: left;
    width: 234px;
    margin-right: 14px;
    transition: all .2s linear;
}

.chanpin ul li a {
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}

.chanpin ul li a img {
    width: 160px;
    height: 160px;
}

.chanpin ul li h3 {
    color: #212121;
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul li .desc {
    text-align: center;
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}

ul li .price {
    text-align: center;
    margin: 0;
    color: #ff6709;
}

.chanpin .startitem1, .chanpin .startitem6 {
    border-top-color: #ffac13;
}

.chanpin .startitem2, .chanpin .startitem7 {
    border-top-color: #83c44e;
}

.chanpin .startitem3, .chanpin .startitem8 {
    border-top-color: #2196f3;
}

.chanpin .startitem4, .chanpin .startitem9 {
    border-top-color: #e53935;
}

.chanpin .startitem5, .chanpin .startitem10 {
    border-top-color: #00c0a5;
}
